.wrapper{
    height: auto;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
}

.container{
    width: 1122.5px;
    display: flex;
    padding: 30px 0;

}

.col{
    width: 25%;
    padding: 0 9.8px;
    
}

.col-inner{
    h4{
        color: #ffffff;
        margin: 0 0 9px;
        font-size: 1.8rem;
        font-weight: 700;
        width: 100%;
    }

    p{
        margin-bottom: 1.3em;
    }

    span{
        font-size: 90%;
        color: #c0c0c0;
    }

    li{
        margin-left: 1.3em;
        margin-bottom: 0.6em;
        color: #f1f1f1;
    }

    a > span {
        color: #c0c0c0; 
        font-size: 90%;
    }
}