.wrapper {
    background: white;
    width: 100%;
    border-radius: 4px;
    position: relative;
    padding: 28px 14px;
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    margin: 0;
}
